div{
	padding:0px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-top: 10px;
	display:inline-block;
	
}

.h1{
	background: yellow;
	width: 80px;
	margin-top: 10px;
	margin-right: 10px;

}/* Escribe tu css aqui */

.h3{
	background: red;
	width: 25px;
	margin-top: 10px;
}

.h2{
	background: yellow;
	width: 150px;
	margin-left: 10px;
margin-top: 10px;
}
