div{
	padding:0px;
	padding-bottom: 10px;
	margin-left: -2px;

}


.h1{
	background: yellow;
	margin:auto;
	padding-bottom: 50px;
}/* Escribe tu css aqui */

p{
	background: red;
	margin:auto;
	padding-bottom: 50px;
}

.h2{
	background: yellow;
	margin:auto;
	padding-bottom: 50px;
}